*,*::after, *::before{
    box-sizing: border-box;
}

 body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
 }
 
 .flex{
     display: flex;
 }

.calc{
    width: 40%;
    height: 15vh;
    background-color: black;
    
}

.calc-screen{
    width: 100%;
    height: 12vh;
    line-height: 10vh;
    font-size: 2.8em;
    text-align: right;
    padding-right: 5px;
   
    color: white;
}
.calc-buttons{
    
    background-color: black;
   
}

.calc-row{

    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: space-between;
    
}

.calc-button{
     background-color:  #d8d9db;
    font-size: 1.9em;
    width: 24.9%;
    height: 15vh;
}
.calc-button:hover{ background-color: #ebebeb;}

.calc-button:active {
  background-color: #bbbcbe;
}


.calc-button:last-of-type{
    border-left: 2px solid black;
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover{
    background-color: #dfb07e;
}

.calc-button:last-child:hover{
     background-color: #dd8d37;
}

.double{flex-basis: 49.8%;}
.triple{flex-basis: 74.8%;}